// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-form{
  margin-top: 10px;
}

.btn-primary{
  padding: 6px 12px;
}

.btn-primary:hover{
  color: #808080;
  text-decoration: none;
}