// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-form{
  margin-top: 10px;
}

.btn-primary{
  padding: 6px 12px;
}

.btn-primary:hover{
  color: #808080;
  text-decoration: none;
}

.task-name{
  color: #337ab7;
  text-decoration: note;
  font-size: 1.8rem;
  cursor: pointer;
  vertical-align: middle;
}